*{
    background-color: rgba(240, 247, 255, 0.784);
    font-family:Georgia
}

header{
    text-align: center;
}
footer{
    display: inline-table;
    border: 3px rgb(144, 144, 210) solid;
    width: auto;
    align-self: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 36px;
}
footer p{
    line-height: 5px;
}
header img{
    float: right;
    width: 250px;
    border: rgb(144, 144, 210) 2px solid;
}
#contact{
    text-align: center;
}
#img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div figcaption{
    text-align: center;
}

#skills #img img{
    max-height: 100px;
    
}

a{
    color:rgb(98, 98, 184);
}